{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ recipe_object.title }} -
            Scrumptious Recipes
    </title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
          </nav>
          <main>
            <form method="post">
                {% csrf_token %}
                {{ recipe_form.as_p }}
                <button>Create</button>
              </form>
          </main>
      </header>
      <footer>Made with love by Scrumptious Recipes</footer>
</body>
</html>
