<!-- ADDED TO TOP : {% load static %} -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes</title>
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
        </nav>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
    </header>
    <main>
        <div class="grid-layout">
            {% for recipe in recipe_list %}
            <div class="recipe-item">
                <h4>
                    <a href="{% url 'show_recipe' recipe.id %}"style="color:rgb(255,0,0);">{{ recipe.title }}</a>
                </h4>
                    <p>{{ recipe.created_on|date:"M j Y" }}</p>
                <h3 class="food-image">
                    <img src="{{ recipe.picture }}">
                </h3>
                <p>4.3 stars</p>
            </div>
            {% endfor %}
        </div>
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
</body>

</html>



{% comment %}

Should always comment out using django tags

Had to move all comments to a new file
because django was throwing
noreverse match error due to too many
comments/wasnt ignoring them correctly
in html list


<!--  updated url tag href
    to include recipe.id
argument for the url django tag
-->

<!-- Changed <a href="detail.html"
To <a href="{% url 'show_recipe' %}">{{ recipe.title }}</a> -->


<!-- ALSO ADDED FOR LOOP AND PUT IN RECIPE.PICTURE -->
<!-- AS WELL AS RECIPE.TITLE  -->
<!-- MODIFIED ORIGINAL list.html TO REMOVE ALL BUT ONE -->
<!-- ABOVE IS THE NEWLY FORMATTED AND MODIFIED CODE -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="recipes.css">

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Scrumptious Recipes</title>

</head>

<body>

    <header>

        <nav>
            <a href="list.html">Main page</a>
        </nav>

        <h1>Scrumptious Recipes</h1>

        <h2>All the food that's fit to eat</h2>

        <main>
            <div class="grid-layout">

                <div class="recipe-item">
                    <h4><a href="detail.html" style="color:rgb(255,0,0);">Vegetarian Tacos</a></h4>
                    <h3 class="food-image">
                        <img src="https://mks.io/public-tacos" alt="Plate of tacos">
                    </h3>
                    <p>4.3 stars</p>
                </div>

                <div class="recipe-item">
                    <h4><a href="detail.html" style="color:rgb(255,0,0);">Mike's Homemade Pizza</a></h4>
                    <h3 class="food-image">
                        <img src="https://www.allrecipes.com/thmb/fFW1o307WSqFFYQ3-QXYVpnFj6E=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/48727-Mikes-homemade-pizza-DDMFS-beauty-4x3-BG-2974-a7a9842c14e34ca699f3b7d7143256cf.jpg" alt="Pizza">
                    </h3>
                    <p>4.7 stars</p>
                </div>

                <div class="recipe-item">
                    <h4><a href="detail.html" style="color:rgb(255,0,0);">Spaghetti</a></h4>
                    <h3 class="food-image">
                        <img src="https://www.simplyrecipes.com/thmb/Boo37yZBqeSpmELBIP_BBX_yVlU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Simply-Recipes-Spaghetti-And-Meatballs-LEAD-3-40bdae68ea144751a8e0a4b0f972af2d.jpg" alt="Spaghetti">
                    </h3>
                    <p>4.9 stars</p>
                </div>

                <div class="recipe-item">
                    <h4><a href="detail.html" style="color:rgb(255,0,0);">Chicken Parmesan</a></h4>
                    <h3 class="food-image">
                        <img src="https://www.jessicagavin.com/wp-content/uploads/2021/03/chicken-parmesan-9-1200.jpg" alt="Chicken Parmesan">
                    </h3>
                    <p>5.0 stars</p>
                </div>

                <div class="recipe-item">
                    <h4><a href="detail.html" style="color:rgb(255,0,0);">Sicilian-Style Baked Cod</a></h4>
                    <h3 class="food-image">
                        <img src="https://www.seriouseats.com/thmb/s95pMT-dhr3EJZehQ-IdezdefEs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__20090312-bakedcod-plate-169326023b8541b9924fd462930f4467.jpg" alt="Baked Cod">
                    </h3>
                    <p>4.8 stars</p>
                </div>
            </div>








            Repeat this "recipe-item" section for each recipe -->

        <!-- </main>
    </header>
</body>
<footer>Made with love by Scrumptious Recipes</footer>
</html> -->

<!-- Don't put everything into 1 parent (ex. div)
Don't put everything into 1 header unless it should be inside -->
<!-- Try to individualize everything -->
{% endcomment %}
