/* Remove margin and padding from the body */
body {
    margin: 0;
    padding: 0;
}

/* Set up a horizontal grid with four equal columns */
 .grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* Optional: Add some gap between grid items */
}

/* Apply padding to the 'main' element */
main {
    padding: 16px;
}

/* Apply padding to the 'footer' element */
footer {
    padding: 24px 0;
    border-top: 1px solid black;
    background-color: rgb(255, 0, 0); /* Use your desired color value */
    color: white; /* Set the text color to white for contrast, adjust as needed */
}

/* 24px top and bottom, 0px left and right */

/* Set a fixed height for images */
img {
    height: 200px;
    width:  200px;
}

/* Add a border and padding to the 'nav' element */
nav {
    border-bottom: 1px solid black; /* Add a black border at the bottom */
    padding: 16px;
    background-color:  rgb(255, 0, 0);
}

/* Remove top margin from 'p' elements */
p {
    margin-top: 0;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/* Remove margin at the bottom of elements with class 'food-image' */
.food-image {
    margin-bottom: 0;
}

a {
    color: white;
    text-decoration: none;

}

h1 {
    padding: 10px;
    color: white;
    background-color:rgb(255, 0, 0);
}

h2 {
    color: white;
    padding: 10px;
    background-color: rgb(255, 0, 0);
}


/* This is how you only manipulate 1 tag with a .infront (calling a class)
can also do it with an id # */
